#boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.humanGridItem,
.computerGridItem {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 2px solid red;
}

.yourTurn {
    background-color: gray;
    pointer-events: none;
    border: 1px solid black;
    color: wheat;
}

#human-board,
#computer-board {
    margin: 10px 0;
}

.board-title {
    margin: 10px 0;
}

#player-turn {
    font-weight: bolder;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.ships-container {
    border: 2px solid red;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
}

.shipBlock {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    box-sizing: border-box;
}

/* #playerDestroyer,
#playerSubmarine,
#playerCruiser,
#playerBattleship,
#playerCarrier {
    display: flex;
    cursor: move;
} */

.draggableShip {
    display: flex;
    cursor: move;
}

.draggableShipVertical {
    display: block;
}



/* body { */
    /* Prevent the user from selecting text in the example */
    /* user-select: none;
  } */