#boards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.humanGridItem,
.computerGridItem {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 2px solid red;
}

.notYourTurn {
    background-color: gray;
    pointer-events: none;
    border: 1px solid black;
    color: wheat;
}

#human-board,
#computer-board {
    margin: 10px 0;
}

.board-title {
    margin: 10px 0;
}

#player-turn {
    font-weight: bolder;
}